<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful!</title>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="../src/styles/site.css">
</head>
<body>
    <div class="checkoutSuccessView">
        <a class="return-to-home" href="preview-template.html">
            <span class="text">Return to Home</span>
        </a>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../src/script/app.js"></script>
</body>
</html>